@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* 
  ---------------------------- CUSTOM STYLING ----------------------------
*/

:root {
  font-family: "Inter", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: inherit; 
}

button:active {
  background-color: lightgray;
}

%spacing-shared {
  padding: 1rem;
  gap: 1rem;
}

%button-shared {
  padding: 1rem;
  padding-inline: 5rem;
  border-radius: 1rem;
  border: none;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.125rem;
  font-weight: 700;
}

/* 
  ---------------------------- NAV ----------------------------
*/

nav {
  @extend %spacing-shared;

  display: flex;
  justify-content: space-between;

  z-index: 2;
  position: absolute;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.97);

  img {
    height: 2rem;
  }
}

.menu-toggle {
  padding: 0;
  background: transparent;
  border: none;

  .menu-items {
    @extend %spacing-shared;
    @extend %flex-column;

    align-items: flex-end;
    padding: 2rem;

    position: fixed;
    top: 0;
    right: 0;

    font-size: 1.25rem;

    background-color: white;
    width: 60%;
    height: 100%;

    box-shadow: 0px 0px 20px;

    transition: transform 500ms;
    transform: translateX(110%);

    text-align: right;
  }
}

.menu-toggle:focus-within {
  .menu-items {
    transform: translateX(0%);
  }
}

/* 
---------------------------- HEADER ----------------------------
*/

header {
  @extend %spacing-shared;

  height: 100vh;
  background: url("images/pexels-nice-guys-757444.webp") center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  justify-content: center;
  align-items: center;

  >h2 {
    color: white;
  }

  button {
    @extend %button-shared;
    background-color: rgba(255, 255, 255, 0.97);
  }
}

/* 
---------------------------- MAIN ----------------------------
*/

main {
  @extend %flex-column;

  box-shadow: 0px 0px 6px;

  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: -4rem;
    
    .card {
      @extend %flex-column;
      @extend %spacing-shared;
    
      aspect-ratio: 1/1;
      border-radius: 1rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      text-align: center;
      background-color: white;
    
      .icon {
        flex: 3;
    
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      img {
        height: 4.25rem;
      }
    
      h2 {
        flex: 1;
      }
    }
  }

  section {
    @extend %flex-column;
    @extend %spacing-shared;
    background-color: white;

    gap: 3rem;

    img {
      border-radius: 1rem;
    }

    &:nth-of-type(even) {
      background-color: #f6f6f6;
    }

    &:last-child {
      padding-bottom: 5rem;
    }
  }

  .divider {
    height: 5rem;
    position: relative;
    z-index: -1;
    background-color: #f6f6f6;

    &:nth-of-type(even) {
      background-color: white;

      .slanted-element {
        background-color: #f6f6f6;
      }
    }

    .slanted-element {
      height: 200%;
      background-color: white;
      transform: skew(0, 4deg) translateY(-75%);
      box-shadow: 0px 0px 6px;
    }
  }

  .introduction {
    @extend %flex-column;

    gap: 2rem;
  }

  .what-we-offer {
    .card.product {
      @extend %spacing-shared;
      @extend %flex-column;

      background-color: white;
      border-style: solid;
      border-radius: 1rem;
      border-width: 4px 2px;
      border-inline-color: #EBEBEB;

      align-items: center;
      gap: 2rem;
      padding: 2rem;
      border-radius: 2rem;

      &:nth-child(1) {
        border-block-color: #48BF53;
      }

      &:nth-child(2) {
        border-block-color: #11823B;
      }

      &:nth-child(3) {
        border-block-color: #02231C;
      }
    }
    
    .description {
      text-align: center;
      color: #909090;
    }

    .price {
      position: relative;

      &::before {
        content: "$ ";
        position: absolute;
        font-size: 1rem;
        left: -1rem;
        top: 5px;
      }

      &::after {
        content: " / MO";
        position: absolute;
        font-size: 1rem;
        right: -2.5rem;
        bottom: 5px;
      }
    }
    
    .disclaimer {
      text-align: center;
      color: #909090;    
      margin-top: -1.5rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      width: 100%;
    }
    
    li {
      display: flex;
      gap: .75rem;

      img {
        height: 1rem;
      }
    }
  }

  .who-we-are {
    background-image: url(./images/philmap.svg);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;

    .description {
      @extend %flex-column;

      gap: 1rem;  
    }

    .images {
      display: flex;
      justify-content: space-between;
    }

    img:nth-child(1) {
      width: 6rem;
    }

    img:nth-child(2) {
      width: 13rem;
    }
  }
}

.contact-us {
  form {
    @extend %flex-column;
    @extend %spacing-shared;

    background-color: white;
    border-radius: 1rem;

    input, textarea, button {
      border-radius: 1rem;
      border: none;
      background-color: #f6f6f6;
      padding: .5rem;
      padding-inline: 1rem;

    }
    
    textarea {
      height: 10rem;
      resize: none;
    }

    button {
      padding: 1rem;
    }
  }
}

/* 
---------------------------- FOOTER ----------------------------
*/

footer {
  @extend %flex-column;
  @extend %spacing-shared;

  position: relative;
  z-index: -1;

  gap: 2rem;

  min-height: 100vh;
  background-image: url('./images/pexels-jeff-guab-2407636-2.webp');
  background-position: center;
  background-size: cover;

  .website-logo {
    width: 10rem;
  }

  .links {
    @extend %flex-column;
    @extend %spacing-shared;

    padding: 0;

    align-items: flex-start;
  }
}

