@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* 
  ---------------------------- CUSTOM STYLING ----------------------------
*/
:root {
  font-family: "Inter", Arial, sans-serif;
}

footer .links, footer, main .contact-us form, main .what-we-offer .card.product, main .promises .card, main section, header, nav .menu-items, nav {
  padding: 1rem;
  gap: 1rem;
}

header button {
  padding: 1rem;
  padding-inline: 5rem;
  border-radius: 1rem;
  border: none;
}

footer .links, footer, main .contact-us form, main .who-we-are .description, main .what-we-offer .card.product, main .what-we-offer .products, main .introduction-container .introduction, main .introduction-container, main .promises .card, main section, main, nav .menu-items {
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: inherit;
}

button:active {
  background-color: lightgray;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.125rem;
  font-weight: 700;
}

img {
  max-width: 100%;
}

/* 
  ---------------------------- NAV ----------------------------
*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: 100%;
}
nav .menu-toggle {
  padding: 0;
  background: transparent;
  border: none;
}
nav .menu-items {
  font-size: 1.25rem;
}
nav img {
  height: 2.5rem;
}

@media screen and (max-width: 1024px) {
  nav {
    background-color: rgba(255, 255, 255, 0.97);
  }
  nav img {
    height: 2rem;
  }
  nav .menu-items {
    align-items: flex-end;
    padding: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    width: 60%;
    height: 100%;
    box-shadow: 0px 0px 20px;
    transition: transform 500ms;
    transform: translateX(110%);
    text-align: right;
  }
  nav .menu-toggle:focus-within .menu-items {
    transform: translateX(0%);
  }
}
@media screen and (min-width: 1024px) {
  nav {
    padding-inline: 15vw;
    background-color: transparent;
  }
  nav .menu-toggle img {
    display: none;
  }
  nav .menu-items {
    width: auto;
    transform: none;
    display: flex;
    position: relative;
    flex-direction: row;
    box-shadow: none;
    background-color: transparent;
    gap: 4rem;
  }
}
/* 
---------------------------- HEADER ----------------------------
*/
header {
  height: 100vh;
  background: url("images/pexels-nice-guys-757444.webp") center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  justify-content: center;
  align-items: center;
}
header > h2 {
  color: white;
}
header button {
  background-color: rgba(255, 255, 255, 0.97);
}

@media screen and (min-width: 640px) {
  header h1 {
    max-width: 34.375rem;
    text-align: center;
  }
  header h2 {
    max-width: 37.5rem;
    text-align: center;
  }
}
/* 
---------------------------- MAIN ----------------------------
*/
main {
  box-shadow: 0px 0px 6px;
}
main section {
  background-color: white;
  gap: 3rem;
}
main section img {
  border-radius: 1rem;
}
main section:nth-of-type(even) {
  background-color: #f6f6f6;
}
main section:last-child {
  padding-bottom: 5rem;
}
main .divider {
  height: 5rem;
  position: relative;
  z-index: -1;
  background-color: #f6f6f6;
}
main .divider:nth-of-type(even) {
  background-color: white;
}
main .divider:nth-of-type(even) .slanted-element {
  background-color: #f6f6f6;
}
main .divider .slanted-element {
  height: 200%;
  background-color: white;
  transform: skew(0, 4deg) translateY(-75%);
  box-shadow: 0px 0px 6px;
}
main .promises {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: -4rem;
}
main .promises .card {
  aspect-ratio: 1/1;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  background-color: white;
}
main .promises .card .icon {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .promises .card img {
  height: 4.25rem;
}
main .promises .card h2 {
  flex: 1;
}
main .introduction-container {
  gap: 3rem;
}
main .introduction-container .introduction {
  gap: 2rem;
}
main .what-we-offer .products {
  gap: 3rem;
  align-items: center;
  padding-inline: 15vw;
}
main .what-we-offer .card.product {
  background-color: white;
  border-style: solid;
  border-radius: 1rem;
  border-width: 4px 2px;
  border-inline-color: #EBEBEB;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  max-width: 24.375rem;
}
main .what-we-offer .card.product:nth-child(1) {
  border-block-color: #48BF53;
}
main .what-we-offer .card.product:nth-child(2) {
  border-block-color: #11823B;
}
main .what-we-offer .card.product:nth-child(3) {
  border-block-color: #02231C;
}
main .what-we-offer .description {
  text-align: center;
  color: #909090;
}
main .what-we-offer .price {
  position: relative;
}
main .what-we-offer .price::before {
  content: "$ ";
  position: absolute;
  font-size: 1rem;
  left: -1rem;
  top: 5px;
}
main .what-we-offer .price::after {
  content: " / MO";
  position: absolute;
  font-size: 1rem;
  right: -2.5rem;
  bottom: 5px;
}
main .what-we-offer .disclaimer {
  text-align: center;
  color: #909090;
  margin-top: -1.5rem;
}
main .what-we-offer ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}
main .what-we-offer li {
  display: flex;
  gap: 0.75rem;
}
main .what-we-offer li img {
  height: 1rem;
}
main .who-we-are {
  background-image: url(./images/philmap.svg);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
}
main .who-we-are .description {
  gap: 1rem;
}
main .who-we-are .images {
  display: flex;
  justify-content: space-between;
}
main .who-we-are img:nth-child(1) {
  width: 6rem;
}
main .who-we-are img:nth-child(2) {
  width: 13rem;
}
main .contact-us form {
  background-color: white;
  border-radius: 1rem;
}
main .contact-us form input, main .contact-us form textarea, main .contact-us form button {
  border-radius: 1rem;
  border: none;
  background-color: #f6f6f6;
  padding: 0.5rem;
  padding-inline: 1rem;
}
main .contact-us form textarea {
  height: 10rem;
  resize: none;
}
main .contact-us form button {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  main section {
    padding-inline: 15vw;
  }
  main section .promises {
    display: flex;
    justify-content: space-between;
  }
  main section .promises .card {
    flex: 1;
    max-width: 18rem;
  }
  main section .promises .card img {
    height: 3rem;
  }
  main .introduction-container {
    flex-direction: row;
    align-items: center;
  }
  main .introduction-container img {
    width: 50%;
  }
  main .what-we-offer {
    padding-inline: 0;
  }
  main .what-we-offer > h1 {
    padding-inline: 15vw;
  }
  main .what-we-offer .products {
    flex-direction: row;
    overflow: scroll;
  }
  main .what-we-offer .products .product {
    min-height: 50rem;
    min-width: 24.375rem;
    max-width: 24.375rem;
  }
  main .what-we-offer .products .product a {
    margin-top: auto;
  }
}
@media screen and (min-width: 1024px) {
  main .what-we-offer .products {
    display: flex;
    justify-content: space-between;
  }
}
/* 
---------------------------- FOOTER ----------------------------
*/
footer {
  position: relative;
  z-index: -1;
  gap: 2rem;
  min-height: 100vh;
  background-image: url("./images/pexels-jeff-guab-2407636-2.webp");
  background-position: center;
  background-size: cover;
}
footer .website-logo {
  width: 10rem;
}
footer .links {
  padding: 0;
  align-items: flex-start;
}

/*# sourceMappingURL=style.css.map */
